title
{
	font-family: sans-serif;
}

header
{
	font-style: bold;
	font-family: cursive;
	font-size: 90%;
	color: rgb(0,100, 250);
	text-align: center;
}

body
{
	background-color: rgb(200,200,200);

}

td
{
	width: 25%;
}